html {
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Saira', sans-serif;
  font-weight: 600;
}
body {
  height: 100%;
  width: 100%;
  position: relative;
  background: #333;
}
.flex {
  display: flex;
}
.bg-container {
  height: 300px;
  width: 100%;
}
.bg-img {
  height: 100%;
  width: 100%;
  background: url(../images/milk.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness(75%);
}
header {
  flex-flow: row wrap;
  padding: 40px;
  justify-content: center;
  align-items: center;
}
header .logo {
  width: 100%;
}
header ul {
  padding-top: 40px;
}
header a + a {
  margin-left: 3rem;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.location {
  flex-direction: column;
  padding: 40px;
}
.location > h2 {
  font-size: 1.125rem;
}
.location > p {
  font-weight: 400;
}
.location p + p, h2 + h2, .social-nav {
  padding-bottom: 2rem;
}
.location button {
  width: 10rem;
  margin-bottom: 2rem;
}
.shadow {
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.425);
}
.right-justify {
  align-self: flex-end;
}
.social-nav li {
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  background: white;
  border-radius: 50%;
}
.fa {
  color: #333;
  font-size: 1.25rem;
  font-weight: 600;
}
.social-nav li + li {
  margin-left: 2rem;
}
.form-container {
  height: 100%;
  width: 100%;
  display: none;
  top: 0;
  left: 0;
  flex-direction: column;
  position: fixed;
  overflow-y: hidden;
  background: white;
  padding: 40px;
  z-index: 2;
}
.form-container h1 {
  margin-bottom: 3rem;
}
.form-field {
  flex-direction: column;
  margin-bottom: 1.5rem;
}
.name-fields {
  justify-content: space-between;
}
.field-sm {
  width: 45%;
}
.form-container h1, .form-field label, .form-field input, textarea {
  font-family: 'Roboto', sans-serif;
  color: black;
}
.form-field label {
  font-size: .875rem;
  line-height: 1.5rem;
}
form input, textarea {
  border: 1px solid #ccc;
  background: #fafafa;
  padding: .75rem;
  font-size: 1rem;
}
form input:focus, textarea:focus {
  background: white;
}
button {
  padding: .5rem 1.75rem;
  font-size: 1rem;
  font-weight: 400;
  background: #333;
}
.contact-button {
  border: 2px solid white;
  border-radius: 3px;
  color: white;
  font-weight: 200;
  transition: all .3s ease;
}
.contact-button:hover {
  background: white;
  color: #333;
}
.cancel {
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 1.125rem;
  color: black;
  cursor: pointer;
}
@media (min-width: 600px) {
  header {
    position: absolute;
    width: 100%;
    background: transparent;
    z-index: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  header ul {
    padding: 0;
  }
  header ul li {
    font-size: 1.25rem;
  }
  header .logo {
    width: 40%;
    max-width: 320px;
  }
  header a + a {
    margin-left: 2rem;
  }
}
@media (min-width: 800px) {
  header ul li {
    font-size: 1.75rem;
  }
}