* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 14px;
}
/* .border1 {
  border: solid 1px red;
}
.border2 {
  border: solid 1px blue;
}
.border3 {
  border: solid 1px green;
} */

/* Set up top level containers */
body {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80px auto 80px;
  grid-template-areas: "header" "main" "footer";
  background: #1A2033;
  color: rgba(255, 255, 255, 0.719);
}
header {
  font-size: 1.25rem;
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 30px;
}
.main-container {
  grid-area: main;
  display: grid;
  grid-gap: 1em;
  font-size: 1rem;
}
.sidebar {
  display: none;
}
.footer {
  grid-area: footer;
  display: flex;
}

/* Format dashboard card layout, dimensions, font, colors */
.main-container > * {
  font-size: .75em;
  border-radius: 5px;
  padding: 20px;
  background: rgba(178, 172, 255, 0.103);
  margin: 0 20px 40px;
}
.chart-card {
  display: grid;
  grid-template-rows: 8rem 3rem 1.5rem;
}
.dash-item {
  display: flex;
  flex-direction: column;
}
.dash-list {
  display: flex;
  flex-direction: column;
}
.chart-card .chart {
  border-radius: 5px;
  margin: -40px 0 40px;
}

/* Format individual card content */
.sales .chart {
  background-image: linear-gradient(to top right, #478B6D, #6ac75e);
}
.exercise .chart {
  background-image: linear-gradient(to top right, #FF7900, #F09B38);
}
.completed .chart {
  background-image: linear-gradient(to top right, #BF3B30, #EF473F);
}

.good {
  color: #478B6D;
}
.alert {
  color: #FF7900;
}
@media (min-width: 768px) {
  .main-container {
    grid-template-columns: 50% 50%;
  }
}
@media (min-width: 1024px) {
  body {
    grid-template-columns: 20% 80%;
    grid-template-areas: "sidebar header"
                         "sidebar main"
                         "sidebar footer";
  }
  .sidebar {
    grid-area: sidebar;
    display: flex;
  }
}