body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
.gameboard {
  height: 50vw;
  width: 50vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 80px auto;
}
.box {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15vw;
  border-top: 2px solid #a3a3a3;
  border-left: 2px solid #a3a3a3;
  cursor: pointer;
}
.box:nth-of-type(-n+3) {
  border-top: none;
}
.box:nth-of-type(3n-2) {
  border-left: none;
}
.reset-button {
  display: flex;
  justify-content: center;
}
a {
  padding: 20px 30px;
  text-decoration: none;
  background: #a3a3a3;
  color: black;
  border-radius: 20px;
}