* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div {
  display: flex;
}
a {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 7px;
  text-decoration: none;
  color: white;
  box-shadow: 0 3px 3px #ddd;
  background-color: hsl(249, 32%, 48%);
  transition: 0.2s ease;

}
.b2 {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent
}
a:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 5px #ddd;
  background-color: hsl(249, 32%, 60%);
}