* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 14px; /* root font size */
}
body {
  height: 100%;
  width: 100%;
}
/* .border1 {
  border: 1px solid red;
}
.border2 {
  border: 1px solid green;  
}
.border3 {
  border: 1px solid blueviolet;  
} */



/* 
define top level containers
 */
.big-grid {
  /* height: 600px;
  width: 500px; */
  height: 100%;
  display: grid;
  grid-template-areas: 
  "header-left"
  "header-right"
  "body-left"
  "body-right"
  "footer";
  /* grid-template-columns: 75% 25%;
  grid-template-rows: 90px calc(100%-180px) 90px; */
}
.header-left {
  grid-area: header-left;
  display: flex;
  flex-direction: column;
}
.header-right {
  grid-area: header-right;
  display: flex;
  flex-direction: column;
}
.body-left {
  grid-area: body-left;
  background: green;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 250px;
}
.body-right {
  grid-area: body-right;
  display: flex;
  flex-direction: column;
}
.footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  background: pink;
}

/* 
define header containers
 */
.left-top, .left-bottom {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.right-top, .right-bottom {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.right-top {
  flex: 2;
}
.right-bottom {
  flex: 1;
}

/* 
define body-left containers
 */
.l1, .l2, .l3 {
  display: grid;
  grid-template-columns: 60% 40%;
  border: solid 1px black;
  padding: 20px;
}
.l4, .l5, .l6, .l7 {
  display: grid;
  grid-template-columns: 50% 50%;
}
.l1, .l2 {
  grid-template-rows: 60% 20% 20%;
}
.l3, .l4, .l5, .l6, .l7 {
  grid-template-rows: 50% 25% 25%;
}
.l1 {
  grid-template-areas: "pic pic"
                       "pic promo"
                       "desc promo";
}
.l2 {
  grid-template-areas: "tagline tagline"
                       "tagline tagline"
                       "sub sub";
}
.l3, .l5 {
  grid-template-areas: "pic pic"
                       "pic promo"
                       "desc promo";
}
.l4, .l6, .l7 {
  grid-template-areas: "pic pic"
                       "pic pic"
                       "desc promo";
}

/* define body-right containers */
.r1, .r2, .r3 {
  flex: 1;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 25% 25%;
  border: dashed 3px black;
}
.r1 {
  grid-template-areas: "pic desc"
                       "pic promo"
                       "pic promo";
}
.r2 {
  border-top: 0;
  border-bottom: 0;
  grid-template-areas: "pic promo"
                       "pic promo"
                       "desc promo";
}
.r3 {
  grid-template-areas: "pic pic"
                       "desc promo"
                       "desc promo";
}

/* define footer containers */
.f1, .f2, .f3, .f4 {
  flex: 1;
}
.f1 {
  display: flex;
  flex-direction: column;
}
.f2, .f3, .f4 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 60% 40%;
}
.f2 {
  grid-template-areas: "pic desc"
                       "pic promo";
}
.f3, .f4 {
  grid-template-areas: "pic pic"
                       "desc promo";
}


.save {
  color: white;
  background-color: #B33E58;
}
.marketing {
  color: white;
  background-color: #63ADBB;
}
.pic {
  grid-area: pic;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}
.desc {
  grid-area: desc;
}
.promo {
  grid-area: promo;
}
.dried-fruit {
  background-image: url(./images/fruit.png);
}
.chips {
  background-image: url(./images/chips.png);
}
.tea {
  background-image: url(./images/tea.png);
}
.nuts {
  background-image: url(./images/nuts.png);
}
.chobani {
  background-image: url(./images/chobani.png);
}
.chocolate {
  background-image: url(./images/chocs.png);
}
.wine {
  background-image: url(./images/wine.png);
}
.bjs {
  background-image: url(./images/bjs.png);
}
.ramen {
  background-image: url(./images/ramen.png);
}
.coffee {
  background-image: url(./images/coffee.png);
}
.coke {
  background-image: url(./images/coke.png);
}
.monster {
  background-image: url(./images/monster.png);
}